h2 User info
= image_tag user.get_profile_image(100,100)
table.table
  tbody
    tr
    tr
      th name
      th = user.name
    tr
      th introduction
      th = user.introduction
div.row
  - if user == current_user
    = link_to edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do
      i.fas.fa-user-cog
    end

h2.mt-3 New book
= form_with model: book_new, url: books_path, method: :post do |f|
  div.form-group
    label Title
    = f.text_field :title, class: "form-control"
  div.form-group
    label Opinion
    = f.text_area :body, class: "form-control"
  div.form-group
    = f.submit "Create Book", class: "btn btn-success"